.articleCard {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 220px;
}

.cardImage {
  border-radius: 15px 15px 0 0;
  width: 220px;
  object-fit: cover;
}

.cardBody {
  padding: 1em;
  width: 220px;
}
