.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fefaf7;
  box-shadow: 0 2px 4px rgba(0, 0, 11, 0.1);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.menuList {
  display: flex;
  right: 0;
  top: 0;
}

.menuList > a {
  display: block;
  padding: 1rem;
  color: #000;
  text-decoration: none;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}

.mobileMenuIcon {
  display: none;
}

.largeScreenIcon {
  margin: 0 1rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent {
  padding: 1rem;
  cursor: pointer;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.settingIcon:hover .dropdownContent {
  display: flex;
  flex-direction: column;
}

/* mobile styles */
@media (max-width: 768px) {
  .mobileMenuIcon {
    display: block;
  }

  .menuList {
    display: none;
  }

  .title {
    font-size: 1.5rem;
  }
}
