.libraryContainer {
  padding: 2rem;
}

.articleBody img,
.articleBody video,
.bannerImage {
  height: 300px;
  object-fit: cover;
  width: 100% !important;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.articleSection {
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .libraryContainer {
    padding: 0 1rem;
  }
  .articleBody img,
  .articleBody video,
  .bannerImage {
    height: 200px;
  }
}
